#root{
  background-color: black;
}

.big-text{
  padding: 30px;
  background-color: black;
  color: white;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: black;
}
.logo{
  width: 50px;
  height: 90px;
  margin-right: 40px;
  animation: forwards 3s spaceship;
}

.hero-image{
  
  height: 100vh;
}
.hero-container{
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */

}

.hero{

  width: 100vw;
  height: 80vh;
  background-image: url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: 100%;
  background-repeat: no-repeat;
  
  align-items: center;
  justify-content: center;
  display: flex;
}

.restName{
  font-size: 10rem;
}

.about{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.icons{
  width: 30vw;
  display: flex;
  justify-content: space-around;
}
.aboutText{
    margin-top: 5rem;
    margin-bottom: 10rem;
}
@keyframes spaceship {
  from {
    transform: translateX(900px);
  }

  to {
    transform: translateX(0px);
  }
}

.food-card-display{
  background-color: black;
  color: white;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 50px;
  text-align: left;
}
.food-card{
  display: flex; 
  flex-direction: column;
  width: 35rem;
  padding: 1.5rem;
  background-color: rgb(0, 0, 0);
}
.food-card-display :hover{
  background-color: rgb(75, 16, 16);
}
.food-card > .right-align {
  margin-top: auto;
  align-self: flex-end;
}
.food-card > h1{
  margin-bottom: 2rem;
}

hr{
  margin: 0 !important;
  padding: 0;
  width: 80%;
}
.sticky-top{
  flex-wrap: wrap;
  text-align: center;
}